<html>
<head>
  <title>Email Queue List</title>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<style type="text/css">

</style>
</head>
<body>
  <div class="alert alert-success">Success</div>
  <a class="btn btn-info" href="/email_list">Home</a>
</body>
</html>
